<div class="container">
  <h2 class="text-center"> ng-content</h2>
  <h2>contact us</h2>
  <div class="mt-4">
    <app-card>
      <h5 class="card-title">Laptop</h5>
      <a href="" class="btn btn-success">know more about laptop</a>
    </app-card>
  </div>

  <div class="mt-4">
    <app-card>
      <h5 class="card-title">tv</h5>
      <a href="" class="btn btn-success">know more about tv</a>
    </app-card>     
  </div>

  <div class="mt-4">
    <app-card>
      <h5 class="card-title">mobile</h5>
      <a href="" class="btn btn-success">know more about mobile</a>
    </app-card>
  </div>

  <div class="mt-4">
    <app-card>
      <h5 class="card-title">rohit</h5>
      <a href="" class="btn btn-success">know more about rohit</a>
    </app-card>
  </div>
</div>
