<!-- <app-container> </app-container> -->

<!-- <app-databind></app-databind> -->
<!-- <app-class-style></app-class-style> -->
<!-- <app-eventbind></app-eventbind> -->
<!-- <app-two-way></app-two-way> -->
<!-- <app-ngif></app-ngif> -->
<!-- <app-ngswitch></app-ngswitch> -->
<!-- <app-ngfor></app-ngfor> -->

<!-- <header class="container">
  <nav>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a routerLink="/" href="" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
      </li>
      <li class="nav-item">
        <a routerLink="about" class="nav-link" routerLinkActive="active">About Us</a >
      </li>
      <li class="nav-item">
        <a routerLink="products" href="" class="nav-link " routerLinkActive="active">Products</a>
      </li>
      <li class="nav-item">
        <a routerLink="contact" href="" class="nav-link " routerLinkActive="active">Contact Us</a>
      </li>
      <li class="nav-item">
        <a routerLink="buy-products" href="" class="nav-link " routerLinkActive="active">buy-products</a>
      </li>
    </ul>
  </nav>
</header>

<router-outlet></router-outlet> -->

<app-parent></app-parent>
