<div class="page-area container">
  <h2>nested routing</h2>
  <h2>Products</h2>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis cumque,
    nesciunt quas itaque sapiente molestiae?
  </p>
  <hr />
  <div class="row">
    <div class="col-md-8">
      <div class="card" style="width: 15rem">
        <img
          style="text-align: center"
          src="https://tse4.mm.bing.net/th?id=OIP.okPHK-lOk_E5nzOZsGx2dwHaFI&pid=Api&P=0&h=220"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Laptop</h5>
          <p class="card-text text-center">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a
            routerLink="laptop"
            class="nav-link"
            routerLinkActive="active"
            class="btn btn-secondary"
            >Know More</a
          >
        </div>
      </div>

      <div class="card" style="width: 15rem">
        <img
          style="text-align: center"
          src="https://tse4.mm.bing.net/th?id=OIP.okPHK-lOk_E5nzOZsGx2dwHaFI&pid=Api&P=0&h=220"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Mobile</h5>
          <p class="card-text text-center">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a routerLink="mobile" class="btn btn-secondary">Know More</a>
        </div>
      </div>

      <div class="card" style="width: 15rem">
        <img
          style="text-align: center"
          src="https://tse4.mm.bing.net/th?id=OIP.okPHK-lOk_E5nzOZsGx2dwHaFI&pid=Api&P=0&h=220"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Tv</h5>
          <p class="card-text text-center">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a routerLink="tv" class="btn btn-secondary">Know More</a>
        </div>
      </div>

      <div class="card" style="width: 15rem">
        <img
          style="text-align: center"
          src="https://tse4.mm.bing.net/th?id=OIP.okPHK-lOk_E5nzOZsGx2dwHaFI&pid=Api&P=0&h=220"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Washing Machine</h5>
          <p class="card-text text-center">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a routerLink="washine-machine" class="btn btn-secondary"
            >Know More</a
          >
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<!-- <router-outlet></router-outlet> -->
