<!-- <button (click)="onAddCard()">Add to card</button> -->
<br />
<!-- <p>{{msg}}</p>  -->

<!-- <input type="text" value="" (click)="onInputclick($event)"> -->
<br />

<!-- <button (click)="onAddCard($event)" value="Tv">Tv</button>
<button (click)="onAddCard($event)" value="mobile">Phone</button>
<button (click)="onAddCard($event)" value="Refregarator">Refregarator</button>
<p>{{msg}}</p> -->
<br><br>


<h1>template referance</h1>
<br>
<input #inputInfo value="sagar" type="text" name="fname">
<button (click)="getInputInfo(inputInfo)">get info</button>


