<!-- <h3 class="text-center">data show in table</h3>

<table class="table">
  <thead>
    <tr>
      <th>Product image</th>
      <th>Product name</th>
      <th>Product Id</th>
      <th>Product price</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let mypro of product; index as i">
      <td>{{ i + 1 }}</td>
      <td>
        <img src="{{ mypro.proming }}" style="width: 100px; height: 100px" />
      </td>
      <td>{{ mypro.name }}</td>
      <td>{{ mypro.id }}</td>
      <td>{{ mypro.price }}</td>
    </tr>
  </tbody>
</table> -->
<br /><br />

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <input type="text" name="" class="form-control" #uname placeholder="user name" />
    </div>
    <div class="col-md-3">
      <button class="btn btn-success" (click)="onCreateUser(uname)">create user</button>
    </div>
    <div class="col-md-3">
      <button class="btn btn-danger" (click)="onCreateRemove()">delete user</button>
    </div>
  </div>
</div>
<br />
<div class="container">
<div class="row">
  <div class="col-md-10">
    <table class="table">
      <thead class="thead-dark">
        <tr>
            <th>UserName</th>
            <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let res of users;index as i">
            <td>{{res.name}}</td>
            <td>
              <button class="btn btn-danger text-white" (click)="onRemoveitem(i)">Delete</button>
            </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>
